.article-container {
  // margin-top: 50px;
}
.article-labels {
  font-family: $paragraph-font;
  font-size: 14px;
}
.article-title-labels {
  font-family: $paragraph-font;
}

.article-img {
  max-width: 60%;
  // padding: 20px;
}
#back-button {
  width: auto;
  float: right;
  font-family: $title-font;
  // color: white;
  text-decoration: none;

}
// .photo-input {
//   // border: 5px solid black; 
//   // width: 100%;
//   height: 44px;
//   width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
  
// }
// .photo-label {
//   font-family: $title-font;
//   color: black;
//   background-color: white;
//   padding: 5px 40px;
//   font-size: 1.2rem;
//   border: 5px solid black;
//   &:hover {
//     background-color: black;
//     color: white;
//     border: 5px solid black;
//     transition: ease 0.5s;
//   }
// }
// Styling of the article form is in actiontext.scss
.article-submit {
    font-family: $title-font;
}

