.go-back {
  font-family: $paragraph-font;
  color: black;
}

.go-back:hover {

  text-decoration: none;

}
.test2 {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
.com-date {
  font-size: 12px;
}

.comm-container {
  padding-top: 5px;
  display: flex;
}

.block {
  margin-right: 15px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
  width: 45px;
  background-color: gray;
}

#comm-cont {
  padding-top: 15px;
  padding-left: 38px;
}

.comment-ul {
  padding-bottom: 50px ;
}

ul {
  margin-top: 26px;
  margin-bottom: 2rem;
}

.titles {
  position: relative;
  &:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  top: 0px;
  left: 0;
  background-color: black;
  }
}

.subdiscu-pointer {
  line-height: 2;
  &:hover {
    cursor: pointer;
    background: black;
    color: white;
    span, i {
      color: white;
      background: black
    }
  }
}

// .span-subdiscu {
//   &:hover {
//     cursor: pointer;
//   }
// }


.disc-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  &:before {
    content: "";
    position: fixed;
    width: 8px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
  }

}


.like-btn {
  margin-top: 30px;
  margin-right: 20px;
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: $paragraph-font;
  height:80px;
  padding: 5px 5px 5px 5px;

  &:hover {
    text-decoration: none;
    background: black;
    color: white;

    i {
    font-size: 25px;
    color: white;
    background: black
   }
  }
}

.avatar-comment {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 7px;
  border: 2px solid black;
}

@media(max-width: 800px) {
  .disc-layout {
    grid-template-columns: 1fr;
    &:before {
      width: 0;
      height: 0;
    }
  }
  .d-none-mobile {
    display: none;
  }
  .mobile-back-btn {
    position: relative;
  }
  .span-back {
    position: absolute;
    right: 15px;
  }
}
