// Specific CSS for your home-page
// Immediately below there is a global selector to reset the margin
// and padding on all files
* {
  background: white;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}
// Specified fonts for titles and paragraphs below
h1 {
  font-family: $title-font;
}

p a {
  font-family: $paragraph-font;
}

// The homepage has a padding all around the page to provide space for content
.mega-container {
  width: 1140px;
  margin: 0 auto;
}

// This will style the main title and the button on the far right
// .main-titles {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 80px;
  .main-title {
    font-family: $title-font;
    font-size: 9.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  .join {
    font-family: $title-font;
    margin-top: 25px;
    font-size: 30px;
  }
}
.slogan {
  font-family: $title-font;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
//   }
//   .right-most-btn{
//     margin-top: 15px;
//     .join {
//       font-family: $title-font;
//       font-size: 30px;
//     }
//     a {
//       color: black;
//       &:hover {
//         text-decoration: none;
//       }
//     }
//   }
//   }

.headers-home-container{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
.call-to-action {
  .coming-soon {
    text-align: center;
    text-decoration: none !important;
    font-family: "Odibee Sans", cursive;
    color: white;
    background-color: black;
    font-size: 24px;
    border: 5px solid black;
    &:hover {
      text-decoration: none;
      background-color: white;
      color: black;
      border: 5px solid black;
      text-align: center;
      }
    }
  }
  .home-search-container {
    display: flex;
    justify-content: space-around;
    width: 430px;
  }
  .search-bar-input {
    border: 5px solid black;
    width: 300px;
    // padding: 10px;
    height: 45px;
    padding-left: 10px;
  }
  .search-button {
    // top: 50%;
    // left: 40%;
    text-decoration: none !important;
    font-family: $title-font;
    color: white;
    background-color: black;
    // padding: 7px 40px;
    font-size: 24px;
    border: 5px solid black;
    width: 120px;
    text-align: center;
    &:hover {
      background-color: white;
      color: black;
      border: 5px solid black;
      // transition: ease 0.5s;
    }
  }
}




// Below is the beginning of the grid for the article cards
.index-grid {
  display: grid;
  height: 857px;
  grid-gap: 8px 8px;
  background-color: black;
  border: 8px solid black;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .article {
    position: relative;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0) 60%);
      z-index: 1;
    }

    .game-title-grid {
      position: absolute;
      margin: 0;
      padding: 0 16px;
      bottom: 0;
      color: white;
      font-family: $title-font;
      font-size: 32px;
      background: transparent;
      z-index: 2;
      padding-bottom: 20px;
    }
    .opened-topics {
      position: absolute;
      margin: 0;
      padding: 0 16px;
      bottom: 0;
      color: white;
      font-family: $paragraph-font;
      font-size: 16px;
      background: transparent;
      z-index: 2;

    }

  }

  .article-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    img {
      object-position: 18%;
    }
  }
  .article-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  .article-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .article-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .article-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    img {
      object-position: 75%;
    }
  }
  .article-6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .article-7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  .article-8 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }
}

.grid-break-container {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  .grid-break-msg {
    font-family: $paragraph-font;
    font-size: 35px;
  }
  .join-grid-break-btn {
    width: 293px;
    font-family: $title-font;
    font-size: 25px;
    background: black;
    color: white;
    padding: 15px 32px;
    &:hover {
      text-decoration: none;
    }
  }
}

