
.page-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
  }
}
.panel {
  padding: 40px;
}

.disc-title {
  border: 5px solid black;
  width: 85%;
  display: inline;
}

.flex-item {
  flex: 0 0 50%;
}
ul {
  list-style-type:none;
  border-bottom: 8px solid black;

}

a {
  text-decoration: none;
}


#new-topic {
  text-align: center;
}

button#show-button {
  text-decoration: none;
}

.category-container {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: 31px;
    left: 0;
    background-color: black;
  }
}

.category {
  position: relative;
  padding: 12px 8px;
  background-color: black;
  font-size: 21px;
  font-family: $title-font;
  color: white;
}

.topics {
  padding: 36px 0;
  width: 100%;

}

.cta-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
}

.title-border {
  width: 85%;
}

.d-none {
  display: flex;
}

#title-top {
  top: 25px;
  position:relative;
  font-family: $title-font;
  font-size: 21px;
}

#sub-title {
 top: 25px;
  position:relative;
  font-family: $title-font;
font-size: 21px;
}

.titles {
display: flex;
justify-content: space-between;
}

a span {
  font-family: $paragraph-font;
  text-decoration: none;
  color: black;
}

a i {
  font-family: $paragraph-font;
  text-decoration: none;
  color: black;
}
