.log-header {
  font-family: $title-font;
}
// sign in  styling
button {
  // font-size: 24px;
  padding: 5px 34px;
  width: 100%;
  font-family: $title-font;
  font-size: 220px;
}
//
.input-input {
  border: 5px solid black;
  // width: 100%;
  height: 44px;
  &:focus {
    // outline: none !important;
    border:4px solid black;
    box-shadow: 0 0 2px black;
  }
}
.bottom-links {
  color: black;
  font-family: $paragraph-font;
  &:hover {
    text-decoration: none;
    color: black;

  }
  
}
.sign-in-input-labels {
  font-family: $paragraph-font;
  font-size: 12px;
}

.log-in-inputs label {
  font-size: 12px;
}
.log-in {
  font-family: $title-font;
  color: white;
  background-color: black;
  padding: 5px 40px;
  font-size: 24px;
  border: 5px solid white;
  &:hover {
    background-color: white;
    color: black;
    border: 5px solid black;
    transition: ease 0.5s;
  }
}

// .sign-in-container a {
//   // text-decoration: none;
//   color: black;
//   font-size: 12px;
// }