.user-post-cont {
  margin-top: 40px;
  justify: center;

}
.edit-profile {
  margin-top: 20px;
  text-align: left;
  border: 5px solid black;
  padding: 3px 3px;
  width: 75vh;
  height: 80px;
  transition: all .5s ease;
  display: flex;
  justify-content: space-between;
  p {
    padding-left: 15px;
  }
    &:hover {
      height: 90px;

    // a, i {
    //   color: white;
    //   background: black
    // }
    }
}
.user-profile{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
      h2{

    margin-bottom: 50px;
    font-family: $title-font;
    font-weight: 3px;
    font-size: 50px;
  }
}

.chat-border {
  border: 4px solid black;
}

.absolutely {
  position: absolute;
  top: 358px;
  left: 435px;
  z-index: 999;
}

.article-title-link {

}
.points {
  margin-left: 120px;
}
