<div class="mega-container">
  <h1 class="main-title ">Adrastos</h1>
  <!-- Two call to action buttons above the grid -->
  <h4 class="call-to-action">
    <a href="#" class="coming-soon">Coming soon</a>
    <a href="#" class="walkthrough">Walkthrough</a>
  </h4>
  <!-- Grid of cards showing all the articles -->
  <div class="index-grid">
    <% @articles.each_with_index do |article, index| %>
      <div class='<%= "article-#{index + 1}" %>'>
        <p class="game-title-grid"><%= article.title %></p>
      </div>
    <% end %>
  </div>
    <!-- Small break in the grid before starting again -->
  <div class="grid-break-container">
    <h3 class="grid-break-msg">
      Help the community and get up to 40%<br>
       off on your next game
    </h3>
  </div>
</div>
