<div class="mega-container">
  <!-- Main title and sign-up button -->
  <div class="main-titles">
    <h1 class="main-title">Adrastos</h1>
    <p class="join"><%= link_to "Join the community", new_user_registration_path, class: "join" %></p>
    <%= link_to "Log out", destroy_user_session_path, method: :delete%>
  </div>
  <br>
  <!-- Two call to action buttons above the grid -->
  <h4 class="call-to-action">
    <a href="#" class="coming-soon">Coming soon</a>
    <a href="#" class="walkthrough">Walkthrough</a>
  </h4>
  <!-- Grid of cards showing all the articles -->
  <div class="index-grid">
    <% @articles.each_with_index do |article, index| %>
      <div class='<%= "article-#{index + 1}" %>'>
        <p class="game-title-grid"><%= article.title %></p>
      </div>
    <% end %>
  </div>
    <!-- Small break in the grid before starting again -->
  <div class="grid-break-container">
    <h3 class="grid-break-msg">
      Help the community and get up to 40%<br>
       off on your next game
    </h3>
    <br>
    <a href="#" class="join-grid-break-btn">Join the community</a>
  </div>
</div>
