<div class="user-profile">
        <h2>Your Articles</h2>
        <% @user.articles.each do |article| %>
     <div class="edit-profile">
        <%=link_to article.title , article_path(article), clasS: "user-article-link"%>               
                      <%= link_to ("<i class='far fa-trash-alt'></i>").html_safe, article_path(article),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: "delete-article"%>
                  <%= link_to ("<i class='far fa-edit'></i>").html_safe, edit_article_path(article), class: "edit-article" %>
        
     </div>  <% end %>
      
      
       
      
</div>

