<div class="mega-container">
  <!-- Main title and sign-up button -->
    <h1 class="main-title">Adrastos</h1>
  <br>
  <!-- Two call to action buttons above the grid -->
  <h4 class="call-to-action">
    <a href="#" class="coming-soon">Coming soon</a>
    <a href="#" class="walkthrough">Walkthrough</a>
  </h4>
  <!-- Grid of cards showing all the articles -->
  <div class="index-grid">
    <%= @articles.each_with_index.take(8) do |article, index| %>
      <div class='<%= "article-#{index + 1}" %>'>
        <%=  %>
      </div>
    <% end %>
    <br>
  </div>
    <!-- Small break in the grid before starting again -->
</div>
