// Graphical variables
// = require actiontext
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";







#right-panel {

      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      background-size: cover;
      position: relative;
      top: -100px;
      opacity: .9;
}
// background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images-na.ssl-images-amazon.com/images/I/91l%2BXW9jctL._AC_SL1500_.jpg);